In [176]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.linear_model import LogisticRegression
from sklearn.preprocessing import StandardScaler, Normalizer, scale
from sklearn.model_selection import train_test_split
from sklearn.metrics import classification_report
from  sklearn.metrics import precision_recall_fscore_support

In [177]:
train = pd.read_csv('creditcard.csv')
test = pd.read_csv('test.csv')

In [178]:
print(len(train))
print(len(test))

284807
2

In [179]:
Xtrain, Ytrain = np.split(train, [-1], axis=1)

In [180]:
Ytrain

        Class
0         0.0
1         0.0
2         0.0
3         0.0
4         0.0
5         0.0
6         0.0
7         0.0
8         0.0
9         0.0
10        0.0
11        0.0
12        0.0
13        0.0
14        0.0
15        0.0
16        0.0
17        0.0
18        0.0
19        0.0
20        0.0
21        0.0
22        0.0
23        0.0
24        0.0
25        0.0
26        0.0
27        0.0
28        0.0
29        0.0
...       ...
284777    0.0
284778    0.0
284779    0.0
284780    0.0
284781    0.0
284782    0.0
284783    0.0
284784    0.0
284785    0.0
284786    0.0
284787    0.0
284788    0.0
284789    0.0
284790    0.0
284791    0.0
284792    0.0
284793    0.0
284794    0.0
284795    0.0
284796    0.0
284797    0.0
284798    0.0
284799    0.0
284800    0.0
284801    0.0
284802    0.0
284803    0.0
284804    0.0
284805    0.0
284806    0.0

[284807 rows x 1 columns]

In [181]:
Xtest = test
Xtest

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V20,V21,V22,V23,V24,V25,V26,V27,V28,Amount
0,10,1.249999,-1.221637,0.383930,-1.234899,-1.485419,-0.753230,-0.689405,-0.227487,-2.094011,...,-0.102756,-0.231809,-0.483285,0.084668,0.392831,0.161135,-0.354990,0.026416,0.042422,121.5
1,15,1.492936,-1.029346,0.454795,-1.438026,-1.555434,-0.720961,-1.080664,-0.053127,-1.978682,...,-0.387910,-0.177650,-0.175074,0.040002,0.295814,0.332931,-0.220385,0.022298,0.007602,5.0

In [182]:
scaler = StandardScaler()
Xtrain['Amount'] = scaler.fit_transform(Xtrain['Amount'].values.reshape(-1,1))

In [183]:
model = LogisticRegression()

In [184]:
print(Xtrain.shape)
print(Ytrain.shape)
print(Xtest.shape)

(284807, 30)
(284807, 1)
(2, 30)

In [185]:
model.fit(Xtrain, Ytrain.values.ravel())

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='ovr', n_jobs=1,
          penalty='l2', random_state=None, solver='liblinear', tol=0.0001,
          verbose=0, warm_start=False)

In [186]:
def pandas_classification_report(y_true, y_pred):
    metrics_summary = precision_recall_fscore_support(
            y_true=y_true, 
            y_pred=y_pred)

    avg = list(precision_recall_fscore_support(
            y_true=y_true, 
            y_pred=y_pred,
            average='weighted'))

    metrics_sum_index = ['precision', 'recall', 'f1-score', 'support']
    class_report_df = pd.DataFrame(
        list(metrics_summary),
        index=metrics_sum_index)

    support = class_report_df.loc['support']
    total = support.sum() 
    avg[-1] = total

    class_report_df['avg / total'] = avg

    return class_report_df.T

In [187]:
model.fit(Xtrain, Ytrain.values.ravel())
y_pred = model.predict(Xtest)

In [188]:
model.score(Xtest, y_pred)

1.0

In [195]:
df_class_report = pandas_classification_report(y_true= y_pred, y_pred=y_pred)
print(df_class_report)

             precision  recall  f1-score  support
0                  1.0     1.0       1.0      1.0
1                  1.0     1.0       1.0      1.0
avg / total        1.0     1.0       1.0      2.0

In [196]:
df_class_report.to_csv('ReportDT.csv',  sep=',')

In [197]:
df = pd.DataFrame({'Class':y_pred})
df.head()

   Class
0    1.0
1    0.0

In [198]:
np.savetxt("ansLR.csv", y_pred , fmt="%1.5f", delimiter=",")